.c-item{
    height: 730px;
}
.c-img{
    height:100%;
    object-fit: cover; 
    filter: brightness(0.9);
}
.carousel-caption h1{
   
      font-family: "Libre Baskerville", serif;   
}
/*********************navbar color************/
.navbar.bg-success{
background-color: rgb(193, 186, 92) !important;
}



.responsive-video {
  width: 100%;          /* fill the column width */
  height: 400px;        /* desktop height */
  object-fit: cover;    /* scale without stretching */
}


/* Section style */
    #services {
      background-color: #000;
      color: #fff;
      padding: 80px 0;
      text-align: center;
    
    }

    /* Headings */
    #services h6 {
      color: #aaa;
      letter-spacing: 2px;
    }

    #services h2 {
      font-size: 2rem;
      margin-bottom: 40px;
    }

    /* Centered Carousel */
    .carousel-item {
      text-align: center;
    }

    .carousel-item img {
      width: 60%;
      height: 400px;
      object-fit: cover;
      border-radius: 10px;
      transition: transform 0.5s ease;
      margin: 0 auto;
    }

    .carousel-item h2{
        padding-top: 25px;
    }

    /* Zoom effect on active image */
    .carousel-item.active img {
      transform: scale(1.05);
    }

    /* Control button style */
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      background-color: #000;
      border-radius: 50%;
      padding: 20px;
    }



/*********recent posts**********/

.recent-img {
  width: 100%;
  max-width: 350px;   /* same width for all */
  height: 250px;      /* same height for all */
  object-fit: cover;  
  border-radius: 10px;
}


/******footer-section******/
.footer {
  background: #0b0b0b;
  color: #bdbdbd;
  padding-top: 60px;
  font-size: 15px;
}

.footer-logo {
  color: #ffffff;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
}

.footer-col p {
  line-height: 26px;
}

.footer-title {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 20px;
  position: relative;
}

.footer-title::after {
  content: "";
  width: 40px;
  height: 3px;
  background: #2ecc71;
  position: absolute;
  left: 0;
  bottom: -8px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.footer-col ul li:hover {
  color: #2ecc71;
}

/* Bottom footer */
.footer-bottom {
  background: #000;
  padding: 20px 0;
  margin-top: 40px;
}

.footer-bottom-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footer-bottom p {
  margin: 0;
  color: #ffffff;
}



/* Small carousel height */
.small-carousel {
  height: 300px;
}

.small-carousel-img {
  height: 350px;
  object-fit: cover;
  filter: brightness(60%);
}

/* Center text properly */
.carousel-caption {
  top: 0;
  bottom: 0;
}







/* Mobile */
@media (max-width: 576px) {
  .responsive-video {
    height: 200px;      /* reduced height for mobile */
  }
}

